@page {
  size: 100mm 148mm;
  margin: 0;
}

@font-face {
  font-family: "ZNuscript";
  src: url("../fonts/ZNuscript.ttf") format("truetype");
}
@font-face {
  font-family: "ZNuscriptHeavy";
  src: url("../fonts/ZNuscriptHeavy.ttf") format("truetype");
}
@font-face {
  font-family: "UDDigiKyokashoNK-R";
  src: url("../fonts/UDDigiKyokashoNK-R.ttf") format("truetype");
}

section {
  page-break-after: always;
  page-break-inside: avoid;
  height: 148mm;
  width: 100mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.word {
  height: 74mm;
  width: 100mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 98mm;
  margin: 2mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
img.logo {
  height: 5mm;
  width: 5mm;
}
.vocab-english,
.vocab-pronunciation,
.vocab-translation {
  text-align: center;
}
.vocab-english {
  font-family: "ZNuscriptHeavy";
  font-size: 37.5pt;
}
.vocab-pronunciation {
  font-family: "UDDigiKyokashoNK-R";
  font-size: 10pt;
}
.vocab-translation {
  font-family: "UDDigiKyokashoNK-R";
  font-size: 25pt;
}

footer {
  height: 5mm;
  width: 100mm;
  font-family: "ZNuscriptHeavy";
}
