{% extends "base.html" %} {% block content %} {% for word1, word2 in wordlist %}
<section class="flashcard-front">
  <div class="card">
    <img class="logo" src="images/logo.png" alt="All Stars" />
    <div class="content">
      <div class="vocab-english">{{ word1["Word"] }}</div>
      <div class="vocab-pronunciation">
        {{ word1["Pronunciation (hiragana)"] }}
      </div>
    </div>
    <footer>
      <div class="label">{{ grade }} - {{ word1["ID"] }}</div>
    </footer>
  </div>
  <hr />
  <div class="card">
    <img class="logo" src="images/logo.png" alt="All Stars" />
    <div class="content">
      <div class="vocab-english">{{ word2["Word"] }}</div>
      <div class="vocab-pronunciation">
        {{ word2["Pronunciation (hiragana)"] }}
      </div>
    </div>
    <footer>
      <div class="label">{{ grade }} - {{ word2["ID"] }}</div>
    </footer>
  </div>
</section>
<section class="flashcard-back">
  <div class="card">
    <img class="logo" src="images/logo.png" alt="All Stars" />
    <div class="content">
      <div class="vocab-translation">{{ word1["Translation (hiragana)"] }}</div>
    </div>
    <footer>
      <div class="label">{{ grade }} - {{ word1["ID"] }}</div>
    </footer>
  </div>
  <hr />
  <div class="card">
    <img class="logo" src="images/logo.png" alt="All Stars" />
    <div class="content">
      <div class="vocab-translation">{{ word2["Translation (hiragana)"] }}</div>
    </div>
    <footer>
      <div class="label">{{ grade }} - {{ word2["ID"] }}</div>
    </footer>
  </div>
</section>
{% endfor %} {% endblock content %}
